**/.quarto/
**/_site/
**/catboost_info/
.Rhistory
.RData
.Rproj.user/

/lecture 1/
/lecture 2/
/lecture 3/
/lecture 4/
/lecture untitled/
/lecture untitled2/
/lecture untitled3/
/.quarto/
**/*.quarto_ipynb

/.lecture3-review/
/.lecture4-build/

/backup/
